body {
	color: white;
	background-color: black;
	font-size: xx-large ;
}

/* IMAGES */
.affiche {
	width: 400px;
}

#index img {
	height: 300px;
	width: 300px;
}

/* ALIGNEMENT */
h1, p, .centre {
	text-align: center;
}

.droite {
	text-align: right;
}

/* LIENS */
a {
	color: white;
}

a:visited {
	color: lightgray;
}

a:active {
	color: gray;
}

/* TABLEAU */
#index {
	width: 100%;
}

.bouton-nav {
	width: 60%;
	margin: 0 auto;
}

.ligne {
	clear: left;
}

.boite {
	width: 33.33%;
	float: left;
}

/* LISTES */
ul {
	list-style-type: circle;
}

/* BANDEAU */
.bandeau {
	background-color: white;
}

.bandeau a, .bandeau:visited, .bandeau:active {
	color: black;
	margin: 0 10%;
}

/* FORMULAIRES */

.bas_de_page {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.contact {
	width: 60%;
	height: 70vh;
	margin: 0 auto;
}

.contact input[type="text"] {
	width: 33%;
	margin: 0 10px 20px 10px;
}

.contact textarea {
	display: block;
	width: calc(66% + 39px);
	margin: 0 auto;
	height: 300px;
	max-height: 70%;
	resize: vertical;
}

.contact input[type="submit"] {
	width: 10%;
	height: 10%;
	margin: 20px auto;
}