body {
	color: white;
	background-color: black;
	font-size: xx-large ;
}

h1, p {
	text-align: center;
}

img {
	height: 300px;
	width: 300px;
}

/* LIENS */
a {
	color: white;
}

a:visited {
	color: lightgray;
}

a:active {
	color: gray;
}
/* FIN: LIENS */

/* TABLEAU */
#index {
	width: 100%;
}

.ligne {
	clear: left;
}

.boite {
	float: left;
	width: 33.33%;
	text-align: center;
}
/* FIN: TABLEAU */