body {
	color: white;
	background-color: black;
	font-size: xx-large ;
}

h1, p {
	text-align: center;
}

/* STYLING LINKS */

a {
	color: white;
}

a:visited {
	color: lightgray;
}

a:active {
	color: gray;
}

/* END OF LINKS STYLING */