body {
	color: white;
	background-color: black;
	font-size: xx-large ;
}

.affiche {
	width: 400px;
}

/* ALIGNEMENT */
h1, p, .centre {
	text-align: center;
}

.droite {
	text-align: right;
}
/* FIN: ALIGNEMENT */

/* LIENS */
a {
	color: white;
}

a:visited {
	color: lightgray;
}

a:active {
	color: gray;
}
/* FIN: LIENS */

/* BOUTONS DE NAVIGATION */
table {
	width: 60%;
	margin: 0 auto;
}

td {
	width: 33%;
}
/* FIN: BOUTONS DE NAVIGATION */