body {
	color: white;
	background-color: black;
	font-size: xx-large ;
}

h1, p {
	text-align: center;
}


/* LINKS */
a {
	color: white;
}

a:visited {
	color: lightgray;
}

a:active {
	color: gray;
}
/* FIN: LINKS*/

.centre {
	text-align: center;
}

/* BOUTONS DE NAVIGATION */
table {
	width: 60%;
	margin: 0 auto;
}

td {
	width: 33%;
}

#colonne-gauche {
	text-align: right;
}

#colonne-centre {
	text-align: center;
}
/* FIN: BOUTONS DE NAVIGATION */