body {
	color: white;
	background-color: black;
	font-size: xx-large ;
}

h1, p {
	text-align: center;
}

/* LIENS */
a {
	color: white;
}

a:visited {
	color: lightgray;
}

a:active {
	color: gray;
}
/* FIN: LIENS */